<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= reddit %></title>
    </head>
    <body>
        <h1>here is your data from <%= reddit%></h1>
    </body>
</html>
